.body{
    text-align: start;
    margin: 40px;
    }
    
    
    .Heading{
        color: #0a2d38;
        border-bottom: 2px solid #0a2d38;
        font-size: 20x;
        padding-bottom: 8px;
    }

    .table{
        max-width: 700px;
    }

    .card{
        border-radius: 8px;
        border: 2px solid grey;
        box-shadow: 2px 3px 4px grey;
        margin: 20px auto;
        padding: 10px 20px;
        max-width: 800px;
    }

    .card p{
        font-size: 18px;
        font-weight: bold;
    }

    .cardsView{
        margin: 4px auto;
    }