.body{
    text-align: start;
    margin: 40px;
    }
    
    
    .Heading{
        color: #0a2d38;
        border-bottom: 2px solid #0a2d38;
        font-size: 20x;
        padding-bottom: 8px;
    }